[submodule "catalog/threejs/upstream/three.js"]
	path = catalog/threejs/upstream/three.js
	url = https://github.com/mrdoob/three.js.git
	branch = dev

[submodule "catalog/shadcn-ui/upstream/ui"]
	path = catalog/shadcn-ui/upstream/ui
	url = https://github.com/shadcn-ui/ui.git
	branch = main

[submodule "catalog/storybook/upstream/storybook"]
	path = catalog/storybook/upstream/storybook
	url = https://github.com/storybookjs/storybook.git
	branch = main

[submodule "catalog/design-resources-for-developers/upstream/design-resources-for-developers"]
	path = catalog/design-resources-for-developers/upstream/design-resources-for-developers
	url = https://github.com/bradtraversy/design-resources-for-developers.git
	branch = master
